<form class="clr-form">
  <div class="clr-form-control">
    <section class="title">
      <h3 class="welcome">ข้อมูลเจ้าหน้าที่ โรงพยาบาลตาลสุม</h3>
    </section>
    <div class="clr-control-container clr-col-12">
      <p></p>
    </div>
    <div class="clr-control-container clr-col-12">
      <input type="text" id="basic" placeholder="Enter value here" class="clr-input"> :
      <div class="btn-group btn-outline-primary btn-sm">
        <button class="btn btn-success">ค้นหา</button>
      </div>
    </div>
    <div class="clr-control-container clr-col-12">
      <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Idcard</clr-dg-column>
        <clr-dg-column>วันที่บรรจุ</clr-dg-column>
        <clr-dg-column>Tel</clr-dg-column>
        <clr-dg-column>E-Mail</clr-dg-column>
        <clr-dg-column>Leave</clr-dg-column>
        <clr-dg-column> </clr-dg-column>
        <clr-dg-row *clrDgItems="let l of leaves">
          <clr-dg-cell>{{l.title}}{{l.name}} {{l.lastname}}</clr-dg-cell>
          <clr-dg-cell>{{l.idcard}}</clr-dg-cell>
          <clr-dg-cell>{{l.workdate}}</clr-dg-cell>
          <clr-dg-cell>{{l.tell}}</clr-dg-cell>
          <clr-dg-cell>{{l.email}}</clr-dg-cell>
          <clr-dg-cell>{{l.lasasom}}</clr-dg-cell>
          <clr-dg-cell>
            <div class="btn-group btn-outline-primary btn-sm">
              <button class="btn btn-success">Edit</button>
              <button class="btn btn-danger">leave</button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} users
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</form>